
.DS_Store

*.py[cod]     # Will match .pyc, .pyo and .pyd files.
__pycache__/  # Exclude the whole folder

.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
*.1
*.pyc
trdi.code-workspace
.vscode/settings.json
reset_sessions.sh
get_trdi_data.sh
test.png
trdi_python_requirements.txt
