:root {
    --padding: 12px;
}

html,
body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: rgb(120, 120, 120);
}

canvas {
    margin-left: 50%;
    transform: translateX(-50%);
}

canvas#defaultCanvas0.p5canvas {
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    z-index: 1;
}

#scroll-data,
#scroll-counter {
    color: black;
    font-family: 'IBM Plex Mono';
    font-size: 12pt;
}

#scroll-data {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    position: absolute;
    bottom: 0;
}

#scroll-counter {
    text-align: center;
    display: block;
    margin: var(--padding);
}

div#print-btn {
    display: inline;
    margin: var(--padding) auto calc(var(--padding) * 2) auto;
    padding: var(--padding) calc(var(--padding) * 2);
    
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 1);
    
    font-size: 10pt;
    font-family: 'IBM Plex Mono';
    color: black;
    
    cursor: pointer;
}
#scroll-data > div:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 1);
    color: rgba(0, 0, 0, 1);
}
#scroll-data > div:active {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 1);
    color: rgba(0, 0, 0, 1);
}

div#cursor {
    /* background-color: rgb(64, 64, 64); */
    height: 1px;
    width: 100%;
    position: fixed;
    z-index: 20;
}